<div class="container">
  <h1><%= @restaurant.name %></h1>

  <h2><%= pluralize(@restaurant.reviews.size, 'review') %></h2>

  <div class="wrapper" data-controller="insert-in-list">
    <% if @restaurant.reviews.empty? %>
      <p>Be the first to review!</p>
    <% else %>
      <div data-insert-in-list-target="list">
        <% @restaurant.reviews.each do |review| %>
          <%= render 'review', review: review %>
        <% end %>
      </div>
    <% end %>

    <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
  </div>

  <%= link_to 'Back to all restaurants', restaurants_path %>
</div>
