<div class="container">
  <h1><%= @restaurant.name %></h1>

  <h2><%= pluralize(@restaurant.reviews.size, 'review') %></h2>

  <% if @restaurant.reviews.empty? %>
    <p>Be the first to review!</p>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
    
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Back to all restaurants', restaurants_path %>
</div>
